* {
  margin: 0;
  padding: 0;
  font-family: cursive;
  font-weight: 600;
  word-spacing: 6px;
  scrollbar-width: none;
  color: black;
}

body {
  overflow-y: none;
  margin: 0;
  max-width: 100%;
  /* background-color: blueviolet; */
  padding: 0;
  overflow-X: hidden;
  font-family: cursive;
}

.top {
  background-image: radial-gradient(rgb(255, 177, 33), rgb(225, 129, 12), rgb(186, 96, 0));
  width: 100%;
  height: 100vh;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-holder {
  /* height: 100px; */
  /* width: 200px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 430px;
  width: 350px;
  text-align: center;
  align-items: center;
  /* background-color: aliceblue; */
  color: white;
  padding: 5px;
}

.top-container {
  height: 65px;
}

.round-color {
  width: 180px;
  height: 180px;
  background-color: gray;
  border-radius: 10000px;
  box-shadow: 0 0 22px 1px;
  margin-bottom: 2em;
}

.profile {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  margin: auto;
}

.name {
  rotate: -10deg;
  margin-bottom: 30px;
  font-size: 47px;
}

.top-icons {
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
  font-size: 23px;
  gap: 25px;
  align-items: center;
  margin-bottom: -3px;
}




/* .....ABOUT SECTION..... */

.second-line {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 3rem;
  height: auto;
  align-items: center;
  background-color: burlywood;
  margin: auto;
  align-items: center;
  box-sizing: border-box;
}

.about-me{
  font-size: 44px;
  margin-top: 20px;
}

h2 {
  font-size: 44px;
}

.about-line {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* gap: 20%; */
  margin: 30px 20px;
  width: 100%;
  font-size: 20px;
}

.lower-profile {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  box-shadow: 0 0 9px 1px;
  margin-right: 90px;
}

.detail {
  width: 550px;
  height: 500px;
  padding: 10px;
  font-size: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  /* background-color: aquamarine; */
  align-items: center;
}

.one {
  font-weight: 500;
  color: chocolate;
  font-weight: 550;
}

.describe {
  width: 700px;
  padding: 2em 50px;
  height: 300px;
  height: 500px;
  flex: 1;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 400px;
}

.hello {
  margin: 20px auto;
}


.icon-section-2 {
  width: 100%;
  float: right;
  width: 330px;
  margin: 20px 0;
}

.icon-holder-2 {
  display: flex;
  justify-content: space-between;
}

.render {
  margin-top: 10px;
}

.render-2 {
  float: right;
  bottom: 0;
  position: fixed;
  margin: 0 40px 40px 95%;
}

.two-2 {
  display: flex;
  width: 95%;
  justify-content: space-between;
}



/*......... RESUME SECTION......... */

.resume-section {
  width: 100%;
  height: auto;
  background-color: rgb(215, 246, 216);
  margin: auto;
  padding: 3em 30px;
  box-sizing: border-box;
  align-items: center;
}

.resume-container {
  display: flex;
  margin: auto;
  /* align-items: center; */
  width: fit-content;
}

.lines-line {
  width: 100px;
  height: auto;
  /* background-color: cornflowerblue; */
}

.education, .resume {
  margin: auto;
  text-align: center;
  margin-top: 20px;
}

.education {
  margin-top: 2em;
}

.education span {
  background-color: darkolivegreen;
  border-radius: 12px;
  padding: 1px 10px;
}

.edu2 {
  margin: 0;
}


.line {
  width: 6px;
  top: 0;
  height: 100%;
  background-color: coral;
  overflow:visible;
  padding-top: 0px;
  box-sizing: border-box;
  margin: auto;
  position: relative;
}

.sircle {
  width: 35px;
  height: 35px;
  background-color: coral;
  border-radius: 20px;
  margin-left: -14px;
  margin-top: 100px;
  float:inline-start;
  align-items: center;

}

.block1 {
  width: 15px;
  height: 15px;
  margin: auto;
  margin-top: 25%;
  background-color: aliceblue;
}




.rsm-content {
  background-color: aliceblue;
  padding: 10px;
  text-align: right;
  margin: 30px;
  border-radius: 12px;
  width: 550px;
}

.rsm-content:hover {
  border-color: rgb(29, 170, 189);
  transform: initial scaleX();
  transition: 1s ease-in-out;
  margin-top: 50px;
  /* margin-left: 70px; */
  box-sizing: border-box;
}

.rsm2 {
  opacity: 0;
}

.right {
  text-align: left;
}






/* .two-2 {
  width: 100%;
  margin: auto;
}

.six-6 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding-bottom: 30px;
  height: 200px;
}

.left-two {
  height: 60vh;
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: space-between;
}

.more-experience {
  font-size: 20px;
  z-index: 2;
  background-color: rgb(159, 160, 160);
  padding: 5px;
  margin: auto;
  width: 180px;
  border-radius: 12px;
  color: white;
}



.round-shape-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65vh;
  margin: 0 40px;
  position: relative;
}

.round-shape-1 hr {
  rotate: 90deg;
  width: 130px;
  height: .5px;
  background-color: rgb(197, 145, 62);
  margin: auto;
}

.render-3 {
  margin: auto;
  z-index: 2;
  background-color: rgb(216, 121, 12);
  border-radius: 200px;
  height: 40px;
  width: 40px;
  align-items: center;
  margin: auto;
}

.four4 {
  margin: auto;
  align-items: center;
  width: 85%;
  margin: 50px;
  height: 200px;
  align-items: center;
}

.six-one {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-left: -13%;
  height: auto;
}

.jkl {
  width: 100%;
  height: 75px;
  bottom: 0;
}

.three-3, .five-5, .four4 {
  min-width: 480px;
  background-color: rgb(211, 229, 226);
  padding: 15px;
  border-radius: 15px;
  margin: 50px 0;
  box-shadow: 0 0 5px -1px;
}

.opacity {
  opacity: 0;
}

.dont {
  display: none;
} */



  /* .......SERVICE SECTION....... */

  .service-section {
    background-image: radial-gradient(rgb(255, 177, 33), rgb(225, 129, 12), rgb(186, 96, 0));
    height: auto;
    max-width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    padding-top: 10em;
    color: white;
    font-weight: 600;
    font-size: 18px;
  }

  .my--services {
    margin: 50px auto;
  }

.service-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  padding-left: 37px;
  /* background-color: burlywood; */
  margin: auto;
  align-items: center;
  justify-content: center;
}

.service-content {
  width: 230px;
  height: 190px;
  /* background-color: aquamarine; */
  padding: 10px;
  margin: 40px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.change-icon-size {
  font-size: 70px;
  margin-bottom: 30px;
}



/* ......SKILLS...... */

.skills-section {
  /* background-color: rgb(182, 123, 123); */
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
  align-items: center;
  margin-top: 10em;
  padding: 0;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  margin: auto;
}

.skill-header {
  margin-bottom: 1.5em;
}

.skill-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 98%;
  margin: auto;
  /* background-color: white; */
  padding-left: 4.5em;
}

.skill-content {
  width: 200px;
  height: 200px;
  background-color: white;
  border-top: 7px solid rgb(241, 241, 241);
  border-right: 7px solid rgb(255, 153, 0);
  border-bottom: 7px solid rgb(255, 153, 0);
  border-left: 7px solid rgb(255, 153, 0);
  border-radius: 1000em;
  /* padding: 10px; */
  box-shadow: 0 0 9px 1px;
  margin: 40px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
}

.number1 {
  background-color: white;
  border-top: 7px solid rgb(255, 153, 0);
  border-right: 7px solid rgb(241, 241, 241);
  border-bottom: 7px solid rgb(255, 153, 0);
  border-left: 7px solid rgb(255, 153, 0);
}

.number2 {
  background-color: white;
  border-top: 7px solid rgb(241, 241, 241);
  border-right: 7px solid rgb(241, 241, 241);
  border-bottom: 7px solid rgb(255, 153, 0);
  border-left: 7px solid rgb(255, 153, 0);
}

.number3 {
  background-color: white;
  border-top: 7px solid rgb(241, 241, 241);
  border-right: 7px solid rgb(241, 241, 241);
  border-bottom: 7px solid rgb(255, 153, 0);
  border-left: 7px solid rgb(241, 241, 241);
}

.number4 {
  background-color: white;
  border-top: 7px solid rgb(241, 241, 241);
  border-right: 7px solid rgb(241, 241, 241);
  border-bottom: 7px solid rgb(241, 241, 241);
  border-left: 7px solid rgb(241, 241, 241);
}


.skill-title {
  font-size: 18px;
  width: 95%;
  text-align: center; 
}



/* <!-- .....HORIZONTAL RULEA..... --> */

.horizontal-line-section {
  height: 70%;
  /* margin-top: 1em; */
  margin-left: 3em;
  margin-bottom: 20em;
  /* background-color: aliceblue; */
  align-items: center;
}

.stylish-rule {
  width: 80%;
  height: 8px;
  border-left: 60% solid rgb(5, 71, 122);
  background-color: gray;
  box-sizing: border-box;
   border-radius: 10px;
}

.inline {
  height: 100%;
  width: 96%;
  background-color: rgb(2, 89, 188);
}

.inline2 {
  height: 100%;
  width: 92%;
  background-color: rgb(188, 67, 2);
}

.inline4 {
  height: 100%;
  width: 89%;
  background-color: rgb(86, 2, 188);
}

.inline3 {
  height: 100%;
  width: 60%;
  background-color: rgb(188, 2, 2);
}

.inline5 {
  height: 100%;
  width: 100%;
  background-color: rgb(188, 2, 2);
}

.inline6 {
  height: 100%;
  width: 70%;
  background-color: rgb(52, 19, 19);
}

.inline7 {
  height: 100%;
  width: 85%;
  background-color: rgb(5, 95, 163);
}

.inline8 {
  height: 100%;
  width: 75%;
  background-color: rgb(188, 104, 2);
}

.horizontal-line-section {
  margin-top: 15em;
  position: unset;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.center-text1 {
  margin-top: -15px;
  align-items: center;
  /* background-color: aquamarine; */
  width: 200px;
}

.left-flex1 {
  margin: 25px auto;
}

.center-content2  {
  margin: 40px auto;
  
}

.left-rules {
  width: 60%;
}

.html {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 30px;
}

.rule2 {
  width: 40%;
  border-left: 60% solid rgb(159, 1, 1);
  /* background-color: lightgray; */
}



/* <!-- .....WORK SECTION..... --> */

.work-section {
  height: auto;
  width: 100%;
  background-image:  radial-gradient(rgb(255, 177, 33), rgb(225, 129, 12), rgb(186, 96, 0));
  padding-bottom: 50px;
}

.work-container {
  width: 97%;
  height: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  /* background-color: aquamarine; */
}

.work {
  margin: 3em auto;
}


.work-box-grid-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* background-color: burlywood; */
  width: 95%;
  height: 95%;
  padding: 0;
  padding-left: 7em;
  margin: auto;
}

.work-1 {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px auto;
  padding: 20px;
  margin: 20px;
  align-items: center;
  box-shadow: 0 0 9px 1px rgb(132, 211, 177);
  background-color: rgb(162, 228, 202);
  border-radius: 12px;
  text-align: center;
}

.work2 {
  background-color: rgb(113, 124, 114);
}

.work3 {
  background-color: rgb(170, 152, 187);
}

.work4 {
  background-color: rgb(89, 151, 222);
}

.work5 {
  background-color: rgb(188, 175, 145);
}

.work6 {
  background-color: rgb(128, 119, 132);
}

.work7 {
  background-color: rgb(143, 119, 112);
}

.work8 {
  background-color: rgb(161, 213, 213);
}

.work9 {
  background-color: rgb(135, 135, 135);
}

.work10 {
  background-color: rgb(214, 215, 101);
}

.work11 {
  background-color: rgb(86, 165, 137);
}

.work12 {
  background-color: rgb(162, 105, 58);
}



.work-1 .work-description, .work-title {
  opacity: 0.03;

}

.work-1:hover  .work-description,
.work-1:hover .work-title {
 opacity: 1;
}

.work-1:hover {
  transform: scale(1.09);
 transform: skewY(20%);
}



/* .....POSTS..... */

.post-section {
  width: 100%;
  /* padding: 50px; */
  /* background-color: rgb(238, 255, 249); */
  margin-top: 15em;
}

.post-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: aliceblue; */
  width: 600px;
  height: 200px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.post-description {
  width: 700px;
  font-size: 20px;
  font-weight: 600;
}


.post-photo {
  width: 180PX;
  height: 200PX;
  border-radius: 10PX;
}

.post-grid-container{
  display: grid;
  grid-template-columns: repeat(4, 2em);
  align-items: center;
}

.parent-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* background-color: antiquewhite; */
  width: 100%;
  padding: 50px 0;
}

.twitter-post {
  width: 205PX;
  height: 250PX;
  background-color: rgb(198, 222, 243);
  margin: 15PX;
  border-radius: 15PX;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 15PX;
  box-sizing: border-box;
  box-shadow: 0 0 5px -1px;
}

/* .post-photo, .post-title {
  opacity: 0.05;
}

.twitter-post:hover .post-photo, .post-title{
  opacity: 1;
} */





/* .....UNDER..... */

.under-post-container {
  width: 250PX;
  height: 230PX;
  background-color: rgb(198, 222, 243);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  margin-top: 20px;
  align-items: center;
  margin-left: 20px;
  border-radius: 12px;
  box-shadow: 0 0 8px -1px;
}

.under-post-title {
  margin: auto;
}




/* .....HIRE SECTION..... */

.hire-section {
  height: auto;
  width: 100%;
  padding: 15PX;
  /* background-color: azure; */
}

.gold-top {
  width: 97%;
  height: 300px;
  background-IMAGE:  radial-gradient(rgb(255, 177, 33), rgb(225, 129, 12), rgb(186, 96, 0));
}

.hire-area {
  width: 60%;
  height: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  /* background-color: azure; */
  padding: 15px;
}

.hire-form {
  width: 360px;
  height: 460px;
  background-color: beige;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  border-radius: 15px;

  float: right;
  margin: 60px;
}

.contact-btn {
  width: 100px;
  margin: auto;
  border-radius: 7px;
  border: none;
  padding: 7px;
}

input, select {
  width: 95%;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 20px auto;
}

.comment-box {
  padding: 20px 0px 100px 10px;
  box-sizing: border-box;
}

form {
  width: 95%;
  height: 95%;
  /* background-color:rgb(226, 226, 218); */
  border-radius: 15px;
}

.btn2 {
  background-color: rgb(186, 201, 196);
  margin: auto;margin: auto;
  border: none;
  width: 95%;
  height: 30px;
  border-radius: 7px;
  box-shadow: 0 0 8px -1px;
  cursor: pointer;
}

.btn2:hover{
  background-color: rgb(203, 216, 212);
}

.btn2:active{
  background-color: rgb(175, 210, 199);
}

.color-side-e {
  width: 50%;
  height: 530px;
  background-color: lightgray;
}

@media screen and (max-width: 1024px) {
  
  body {
    overflow-y: none;
    margin: 0;
    max-width: 100%;
    background-color: aliceblue;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 17px;
    font-family: cursive;

  }



 /* .....ABOUT SECTION..... */
 

 
.second-line {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  padding-top: 6rem;
  margin: 0;
  height: auto;
  align-items: center;
}


 .about-me{
  font-size: 45px;
  margin-top: 40px;
}

.about-line {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* gap: 20%; */
  margin: 80px 10px;
  margin-top: 5em;
  width: 95%;
}

.lower-profile {
  width: 200px;
  margin-left: 70px;
  height: 200px;
  border-radius: 200px;
  box-shadow: 0 0 9px 1px;
  /* margin-right: 50px; */
}

.detail {
  width: 100%;
  height: 500px;
  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  /* background-color: aquamarine; */
  align-items: center;
}

.describe {
  width: 90%;
  padding: 10px;
  height: 300px;
  overflow: hidden;
  height: 500px;
  padding: 15px;
  font-size: 24px;
  text-align: center;
  margin: auto;
  margin-top: 80px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 400px;
}

.icon-section-2 {
  width: 100%;
  float: right;
  width: 430px;
  margin: 40px auto;
}

.render-2 {
  float: right;
  bottom: 0;
  position: fixed;
  margin-left: 80%;
  font-size: 50px;
}




/* .....RESUME SECTION..... */


.resume-section {
  width: 100%;
  height: 50%;
  /* background-color: rgb(59, 190, 64); */
  margin: auto;
  padding: 3em 30px;
  box-sizing: border-box;
}


.lines-line {
  width: 100px;
  height: 85.5%;
  margin: auto;
  box-sizing: border-box;
  /* background-color: cornflowerblue; */
  /* margin: auto; */
  float: left;
  margin-left: -55px;
  position: absolute;
}

.education {
  margin-top: 2em;
}

.shorter {
  height: 10%;
}

.resume-container {
  display: flex;
  flex-direction: column;
}

.rsm2 {
  display: none;
}

.rsm-content {
  width: 200px;
  background-color: aliceblue;
  padding: 20px;
  text-align: center;
  margin: 30px;
  border-radius: 12px;
  box-shadow: 0 0 7px -2px;
}

.rsm-content:hover {
  border-color: rgb(29, 170, 189);
  transform: scale(1.2);
  transition: 1s ease-in-out;
  margin-top: 50px;
  margin-left: 60px;
}











/* <!-- .....SERVICES SECTION..... --> */


.service-section {
  background-image: radial-gradient(rgb(255, 177, 33), rgb(225, 129, 12), rgb(186, 96, 0));
  height: auto;
  max-width: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
  color: white;
  font-weight: 600;
  font-size: 18px;
}


.service-grid-container {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  width: 95%;
  padding-left: 37px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.service-content {
  width: 90%;
  height: 220px;
  padding: 10px ;
  font-size: 18px;
  margin: 40px auto;
  border-radius: 12px;
  text-align: center;
  display: flex;
  margin-right: 20%;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgb(157, 97, 1);
  box-shadow: 0 0 8px 1px;
  overflow: hidden;
}

.change-icon-size {
  font-size: 70px;
  margin-top: 30px;
}




/* <!-- .....SKILLS ..... --> */


.skills-section {
  /* background-color: rgb(182, 123, 123); */
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(222, 255, 244);
  align-items: center;
  padding-top: 10em;
  margin: 0;
}

.skill-header {
  margin-bottom: 1em;
}

.skill-grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 98%;
  margin: auto;
  /* background-color: rgb(180, 78, 78); */
  padding-left: 4.5em;
  margin-left: -2em;
}

.skill-header {
  margin-left: 47px;
}




/* <!-- .....HORIZONTAL RULEA..... --> */




.horizontal-line-section {
  height: 70%;
  width: 100%;
  margin-top: 5em;
  margin: auto;
  padding: 0;
  margin-bottom: 0;
  background-color: aliceblue;
  padding-bottom: 5em;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.stylish-rule {
  width: 97%;
  height: 8px;
  border-left: 60% solid rgb(5, 71, 122);
  background-color: gray;
  box-sizing: border-box;
  
}

.left-rules {
  width: 80%;
}

.html {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 30px;
}




/* <!-- .....WORK SECTION..... --> */

.work-section {
  height: auto;
  width: 100%;
  background-image:  radial-gradient(rgb(255, 177, 33), rgb(225, 129, 12), rgb(186, 96, 0));
  padding-bottom: 50px;
}

.work {
  margin: 1em auto;
}

.work-box-grid-container{
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 95%;
  padding: 0;
  padding-left: 7em;
  margin: auto;
  align-items: center;
}



.work-1 {
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
  box-shadow: 0 0 9px 1px rgb(132, 211, 177);
  background-color: rgb(108, 105, 74);
  border-radius: 12px;
  text-align: center;
  margin-left: -10%;
  color: white;
  margin-right: 35%;
}




/* .....POSTS..... */


.post-section {
  width: 100%;
  /* padding: 50px; */
  background-color: rgb(238, 255, 249);
  margin-top: 0;
  padding-top: 5em;
}

.post-top {
  width: 80%;
  height: auto;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 20px;
}

.post-heading {
  font-size: 35px;
}

.post-description {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
}

.parent-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 0;
}

.post-grid-container{
  display: grid;
  grid-template-columns: repeat(4, 2em);
  top: 0;
  width: 80%;
  margin: auto;
}

.twitter-post {
  width: 205PX;
  height: 250PX;
  background-color: rgb(198, 222, 243);
  margin: 15PX;
  border-radius: 15PX;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 15PX;
  box-sizing: border-box;
  box-shadow: 0 0 5px -1px;
  text-align: center;
}

.under-post-container {
  width: 250PX;
  height: 170PX;
  text-align: center;
  background-color: rgb(198, 222, 243);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  margin-top: 20px;
  align-items: center;
  margin-left: 20px;
  border-radius: 12px;
  box-shadow: 0 0 8px -1px;
  margin: auto;
  margin-top: 40px;
}

/* .....HIRE ME..... */

.hire-section {
  height: 100%;
  width: 100%;
  padding: 0;
  margin-bottom: 30px;
  background-color: rgb(90, 138, 138);
}

.gold-top {
  width: 100%;
  background-IMAGE:  radial-gradient(rgb(255, 177, 33), rgb(225, 129, 12), rgb(186, 96, 0));
}

.hire-form {
  width: 280px;
  height: 100%;
  background-color: rgb(174, 191, 185);
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  border-radius: 15px;
  float: right;
  margin: 40px 60px;
}

}
